.titulo{
    font-size: 3em;
    color: darkgreen;
    margin: center;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    padding: 2em 0em 0em 0em;
}
.html{
    background-color: black;
}

.h3{
    border: 2px solid darkgreen;
    border-radius: 10%;
    font-size: 1.5em;
    color: darkgreen;
    margin: center;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    padding: 3em;

}

.p{
    font-size: 1em;
    color: darkgreen;
    margin: center;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    padding: 3em;
}

.img{
    background-color: darkgreen;
    border: 2px solid darkgreen;
    border-radius: 10%;
    font-size: 1.5em;
    color: darkgreen;
    margin: center;
    display: flex;
    flex-direction: row;
    width: 40vw;
    margin: auto;
    padding: 3em;
    align-items: center;
    justify-content: space-evenly;

}