
html{
    background-color: rgb(255, 255, 255);
}

.title{
    border-radius: 10%; color: rgb(0, 0, 0);
    width: 40vw;
    font-size: 3em;
    margin: auto;
    padding: 2em;
    color: rgb(0, 0, 0);
    transition: 20ms;
    display: flex;
    flex-direction: column;
    align-content: center;

}



.title:hover{
    background-color: white;
}

.text{
    border-radius: 10%; color: rgb(0, 0, 0);
    width: 40vw;
    margin: auto;
    padding: 2em 4em 2em 4 em;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    transition: 20ms;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text:hover{
    background-color: white;
}

#image{
    border: 2px, solid, black;
    width: 60vw;
    display: flex;
    margin: auto;
    align-items: center;
    padding: 5em;
    

}