
html{
    background-color: black;
}

.title{
    border-radius: 20%; color: white;
    width: 50vw;
    margin: auto;
    padding: 4em,4em,4em,4em;
    font-size: 3em;
    color: rgb(0, 0, 0);
    transition: 20ms;
}

.title:hover{
    background-color: white;
}

.text{
    border-radius: 20%; color: white;
    width: 50vw;
    margin: auto;
    padding: 5em,5em,5em,5em;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    transition: 20ms;
}

.text:hover{
    background-color: white;
}

.image{
    width: 500px;
    align-items: center;
}